[update_manager timelapse]
type: git_repo
primary_branch: main
path: ~/Solis_wechatpush
origin: https://github.com/Solismuchengxue/Solis_wechatpush.git
managed_services: klipper moonraker

[wechat_push]
corp_secret: xxxxxxxxxxxxxxxxxx                               # 企业微信应用私钥
corp_id: xxxxxxxxxxxx                                         # 企业ID
agent_id: 1000001                                             # 企业微信应用ID
to_user: @all                                                 # 接收消息的人，@all默认所有人
domain:                                                       # 域名
camera: /webcam?action=snapshot                               # 摄像头地址

# 可选：在 printer.cfg 中加入以下宏，即可从 Klipper 控制台发送测试推送
# [gcode_macro SEND_WECHAT_TEST]
# gcode:
#     {action_call_remote_method("send_wechat_test")}